<template>
  <div class="formulario">
    <a-row>
      <a-col :span="24">
        <a-breadcrumb>
          <a-breadcrumb-item>
            <router-link to="/"> Home </router-link>
          </a-breadcrumb-item>
          <a-breadcrumb-item>Formulario</a-breadcrumb-item>
        </a-breadcrumb>
      </a-col>
      <a-col :span="24">
        <a-steps :current="0" size="small">
          <a-step title="Crear" />
          <a-step title="Vizualiza" />
          <a-step title="Información" />
        </a-steps>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="24">
        <a-layout>
          <h1>Formulario Producto</h1>
          <a-form
            :form="form"
            :label-col="{ span: 5 }"
            :wrapper-col="{ span: 12 }"
            @submit="handleSubmit"
          >
            <a-form-item label="Nombre">
              <a-input
                v-decorator="[
                  'name',
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Porfavor ingrese un nombre valido',
                      },
                    ],
                  },
                ]"
              />
            </a-form-item>
            <a-form-item label="Precio">
              <a-input
                v-decorator="[
                  'price',
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Porfavor ingrese un precio valido',
                      },
                    ],
                  },
                ]"
              />
            </a-form-item>
            <a-form-item label="codigo">
              <a-input
                v-decorator="[
                  'id',
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Porfavor ingrese un codigo',
                      },
                    ],
                  },
                ]"
              />
            </a-form-item>
            <a-form-item label="Imagen">
              <a-input
                v-decorator="[
                  'imagen',
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Porfavor ingrese un imagen valida',
                      },
                    ],
                  },
                ]"
              />
            </a-form-item>
            <a-form-item label="Estado">
              <a-checkbox
                v-decorator="['status', { valuePropName: 'checked' }]"
              ></a-checkbox>
            </a-form-item>
            <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
              <a-button type="primary" html-type="submit">Guardar</a-button>
            </a-form-item>
          </a-form>
        </a-layout>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  name: "Form",
  data() {
    return {
      name: "",
      price: 0,
      status: false,
      category: "",
      imagen: "",
      listado_producto: [],
      formLayout: "horizontal",
      form: this.$form.createForm(this, { name: "coordinated" }),
    };
  },
  methods: {
    onClick: function () {
      console.log("Evento de guardar");
      console.log(this.name, this.price, this.status, this.category);
      let temp = {
        name: this.name,
        price: this.price,
        status: this.status,
        imagen: this.imagen,
      };

      this.listado_producto.push(temp);

      this.$emit("save", temp);
    },
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log("Received values of form: ", values);
          let temp = {
            id: values.id,
            name: values.name,
            price: values.price,
            status: values.status,
            imagen: values.imagen,
          };
          // Generamos un evento para que padre lo escuches
          this.$emit("save", temp);

          // Notificacion
          this.$notification.open({
            message: "Noty Clase #4",
            description: "Se ingreso correctamente!.",
            icon: <a-icon type="smile" style="color: #108ee9" />,
          });
        }
      });
    },
  },
};
</script>

<style scoped>

div{

}
.formulario {
  height: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.formulario button{
background-image: url(~/assets/fondoarri.JPG);
}
.formulario button:hover{
  color: aqua;
}

</style>

