<template>
<div id="app">
    <a-layout >
      <a-layout-header>
          <div id="nav">
              <img src="~/assets/logoo.JPEG" height="50px" width="50px" />
              <router-link to="/">Inicio</router-link>
              <router-link to="/plataforma">plataforma</router-link>
              <router-link to="/regist">Formulario</router-link>
              <router-link to="/detalle">Detalle</router-link>
              <img src="~/assets/alado.gif" height="50px" width="800px"/>
             
          </div>
      </a-layout-header>
      <a-layout-content class="principal">
          <nuxt />
      </a-layout-content>
      <a-layout-footer id="footer">
          Carolinna & Jesus
      </a-layout-footer>
    </a-layout>
</div>

</template>
<style>
body{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
#app {
  color: #e5e5e5;
  height: 100%;
  display: flex;
  background-color: #e5e5e5;
}
.ant-layout-header {
  background-image: url(~/assets/fondoarri.JPG);
  color: #f1faee;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  height: 60px;
  padding-left: 20px;
}
.ant-layout-content {
  padding: 20px;
  background-color: #ffffff;
  height: auto;
  overflow-y: scroll;
}
#footer{
    background: black;
    color: white;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}
#nav{
    width: 100%;
    height: 40px;
    

}
#nav img{
    padding: 2px;
    margin-left: 1px;
    margin-bottom: 10px;
}

#nav a{
    text-transform: uppercase;
    color: beige;
    height: 100%;
    padding: 10px;
}

#nav .nuxt-link-exact-active,
nuxt-link-active {
    color: aqua;
    font-size: 15px;
}
#nav a:hover{
    background: rgb(240, 9, 171);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


</style>